#left_header {

    display: flex;
    flex-direction: row;
    gap: 2%;
    height: auto;
    width: 50%;
    margin: 0%;
    padding: 0%;
}

#left_header > img {
    height: 40px;
    width: auto;
    margin-top: 2.7%; /* Behåller lejonets form */
    margin-left: 5%; /* Behåller lejonets form */
}



#right_header {

    display: flex;
    justify-content: right;
    flex-direction: row-reverse;
    gap: 5%;
    margin-top: -4%;
    padding: 0%;
}

#userpic {
    margin-top: 1%;
}



.destination_info {
    width: 558px;
    height: 225px;
    background-color: #8E8E8E;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 24px;
    border-radius: 12px;
    margin-top: 2.5%;
    margin-left: 1%;
}

.customer_info {
    width: 558px;
    height: 225px;
    background-color: #8E8E8E;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 24px;
    border-radius: 12px;
    margin-top: 2.5%;
    margin-left: 1%;
}

.other_info {
    width: 558px;
    height: 426px;
    background-color: #8E8E8E;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 24px;
    border-radius: 12px;
    margin: inline start 12px;;
    margin: inline-end 12px;
    margin-top: 2.5%;
    margin-left: 1%;
}