.container {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Inter, sans-serif;
    font-weight: 400;
    color: black;
}

h1 {
    font-size: 16px;
    font-weight: 700;
}

a>h2 {
    font-size: 16px;
    font-weight: 400;
}

h2 {
    font-size: 16px;
    font-weight: 600;
}

h3 {
    font-size: 16px;
    color: #F2F2F2;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
    width: 1920px;
}

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    box-sizing: border-box;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 1237px;
    gap: 24px;
    flex: 1;
    padding-top: 12px;
}

header {
    display: flex;
    height: 56px;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
}

.left-header {
    flex: 0 1000px;
    display: flex;
    flex-direction: row;
    gap: 2%;
    height: auto;
    width: 50%;
    margin: 0%;
    padding: 0%;
}

.left-header>img {
    height: 32px;
    width: auto;
    margin-top: 2.1%;
}

.header-icon-text {
    display: flex;
    flex-direction: row;
}

.right-header {
    display: flex;
    flex: 1;
    justify-content: right;
    flex-direction: row-reverse;
    gap: 5%;
    padding: 0%;
}

.userpic {
    margin-top: 1%;
}

.destination-info {
    background-color: #8E8E8E;
    border-radius: 12px;
    margin-top: 2.5%;
    margin-left: 1%;
    width: 558px;
}

.customer-info {
    background-color: #8E8E8E;
    border-radius: 12px;
    margin-top: 2.5%;
    margin-left: 1%;
    padding-bottom: 5%;
    width: 558px;
    height: 218px;
}

.other-info {
    background-color: #8E8E8E;
    border-radius: 12px;
    margin: inline start 12px;
    margin: inline-end 12px;
    margin-top: 2.5%;
    margin-left: 1%;
    height: 426px;
    width: 558px;
}

.destination-info,
.customer-info,
.other-info {
    display: flex;
    flex-direction: column;
}

.info-text {
    color: #F2F2F2;
    margin-top: 15px;

}

.info-text>select {
    border-radius: 5%;
    padding-right: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.info-text>strong {
    font-size: 28.63px;
    font-weight: 600;
}

input {
    font-size: 20px;
    border-radius: 8px;
    padding: 7px 15px;
    border: none;
}




select {
    font-size: 15px;
}

.destination-input,
.other-input,
.customer-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20%;
}

.väskor-div {
    padding-left: 7px;
}


.other-input>label {
    padding: 1.5%;
}


textarea {
    width: 100%;
    width: 270px;
    height: 50px;
    border-radius: 5%;
    max-height: 190px;
    resize: vertical;
}

textarea ::placeholder {
    font-size: 15;
}

.taxi-card {
    background-color: #F2F2F2;
    width: 377px;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    gap: 15px;
}



.logo-grid strong {
    font-weight: 600;
}

.driver-name {
    font-weight: 600;
}

.car-title {
    font-weight: 600;
}

legend {
    padding-top: 10px;
}

label {
    color: white;
}

.info-box {
    background-color: white;
    padding: 4px;
    border-radius: 8px;
    padding-left: 15px;
    font-size: 17px;
}



.status {
    display: flex;
    justify-content: right;
    gap: 10px;
    padding: 2%;
    padding-bottom: 5%;
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
}

.arrival-box {
    border-radius: 5%;
    background-color: white;
    padding: 12px 16px;
    padding-top: 1%;
}

.time {
    font-weight: 600;
    font-size: 32px;
    margin: 0;
}

.logo-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    margin-top: 8px;
}

.logo-grid-left {
    margin-bottom: 2%;
}

.logo-grid-right {
    margin-left: 10%;
    margin-bottom: 2%;
}


.logo-grid img {
    width: 20px;
    height: auto;
}

.logo-grid span {
    display: flex;
    align-items: center;
    gap: 11px;
}

.warning-tag {
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 7px;
    margin-top: 5px;
    background-color: #E59E2321;
}

.specs-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    margin-top: 8px;
}

.specs-grid img {
    width: 14px;
    height: auto;

}

.book-btn {
    background-color: #4B195E;
    border-radius: 20px;
    border: none;
    height: 45px;
    width: 60%;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.book-btn-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.options {
    cursor: pointer;
}