body {
    background-image: url(/assets/crazy-taxi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 120px;
    max-width: 100%;
    width: 2000px;
}

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    width: 90%;
    height: 100%;

}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left_side {
    flex: 0 0 450px;
}

.right_side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    flex: 1;
}


header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#left_header {
    flex: 0 1000px;
    display: flex;
    flex-direction: row;
    gap: 2%;
    height: auto;
    width: 50%;
    margin: 0%;
    padding: 0%;
}

#left_header>img {
    height: 40px;
    width: auto;
    margin-top: 2.1%;
   

}


#right_header {
    display: flex;
     flex: 1;
    justify-content: right;
    flex-direction: row-reverse;
    gap: 5%;
    padding: 0%;
}

#userpic {
    margin-top: 1%;
}



.destination_info {
    background-color: #8E8E8E;
    border-radius: 15px;
    margin-top: 2.5%;
    margin-left: 1%;
}

.customer_info {
    background-color: #8E8E8E;
    border-radius: 15px;
    margin-top: 2.5%;
    margin-left: 1%;
}

.other_info {
    background-color: #8E8E8E;
    border-radius: 15px;
    margin: inline start 12px;
    margin: inline-end 12px;
    margin-top: 2.5%;
    margin-left: 1%;
    height: 615px;
}

.destination_info,
.customer_info,
.other_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;

}

.info_text {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-weight: bold;
    color: white;
}


input {
    font-size: 20px;
    border-radius: 8px;
    padding: 7px 15px;

}

select {
    font-size: 15 px;
}

.destination_input,
.other_input,
.customer_input {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
    align-items: flex-start;
    padding-left: 20%;
}

.other_input {
    padding-top: 15px;
    padding-right: 80px;
}

textarea {
    width: 100%;
    width: 240px;
    height: 100px;
    border-radius: 5%;
    max-height: 190px;
    resize: vertical;
}

textarea ::placeholder {
    font-size: 15;
}

.right_side {
    padding-top: 12px;
}

.taxi-card {
    background-color: lightgrey;
    width: 370px;
    padding: 29px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    gap: 15px;
    font-weight: bold;
}

legend {
    padding-top: 10px;
    color: white;
    font-weight: bold;
}

label {
    color: white;
}

.info-box {
    background-color: white;
    padding: 12px;
    border-radius: 8px;
}

.status {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.arrival-box {
    border-radius: 5%;
    background-color: white;
    height: 120px;
    padding-left: 10px;
}

.counted {
    padding-top: 10px;


}

.time {
    font-weight: bold;
    font-size: 45px;
    margin: 0;
}

.logo-grid {
    display: flex;
    flex-wrap: wrap;

    gap: 7px;
    margin-top: 8px;
}

.logo-grid img {
    width: 20px;
    height: auto;
}

.logo-grid span {
    display: flex;
    align-items: center;
    gap: 9px;
}

.warning-tag {
    display: flex;
    align-items: center;
    border-radius: 5%;
    padding: 5px;
    margin-top: 5px;
    background-color: yellow;
}

.specs-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    margin-top: 8px;
}

.specs-grid img {
    width: 14px;
    height: auto;

}

.book-btn {
    background-color: purple;
    border-radius: 15px;
    height: 45px;
    width: 60%;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.book-btn-div {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.info-box {
    padding-left: 15px;
    font-size: 17px;
}

.options {

    cursor: pointer;
}